<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form th:object="${stud}" action="/admin/add/stud" method="post">
    <p>ФИО:
        <input type="text" id="fio" th:value="*{fio}" name="fio" placeholder="ФИО" >
    <div th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}"></div>
    </p>
    <p>Номер телефона:
        <input type="text" id="num" name="num" th:value="*{num}" placeholder="Номер телефона" >
    <div th:if="${#fields.hasErrors('num')}" th:errors="*{num}"></div>
    </p>
    <p>Почта:
        <input type="text" id="emal" name="emal" th:value="*{emal}" placeholder="Почта" >
    <div th:if="${#fields.hasErrors('emal')}" th:errors="*{emal}"></div>
    </p>
    <p>Описание:
        <input type="text" id="des" name="des" th:value="*{des}" placeholder="Описание" >
    <div th:if="${#fields.hasErrors('des')}" th:errors="*{des}"></div>
    </p>
    <input type="submit" value="Добавить студента" class="btn btn-success">
</form>
<a href="/student/">назад</a>
</body>