<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>News</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<form method="post" action="/news/search">

  <input type="text" name="title">
  <input type="submit" value="Найти">

</form>

<div th:each="el : ${news}">
  <h2 th:text="${el.name}"></h2>
  <h3 th:text="${el.text}"></h3>
  <h4 th:text="${el.autor}"></h4>
  <h5 th:text="${likes}"></h5>
  <p th:text="${el.views}"></p>
</div>

<a href="/news/add" class="btn btn-primary">Добавить новость</a>

</body>
</html>