<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>News</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<form action="/pr/add" method="post">
  <input type="text" id="name" name="name" placeholder="Название">
  <input type="text" id="predmet" name="predmet" placeholder="Предмет">
  <input type="text" id="prepod" name="prepod" placeholder="Преподаватель">
  <input type="text" id="data" name="data" placeholder="дата">
  <input type="number" id="kolvo" name="kolvo" placeholder="Колиичево">
  <input type="submit" value="Добавить новость" class="btn btn-success">
</form>

<a href="/pr/" class="btn btn-primary">Назад</a>

</body>
</html>