<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Практические</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<form method="get" action="/pr/search">

  <input type="text" name="name">
  <input type="submit" value="Найти">

</form>

<div th:each="el : ${pr}">
  <h2 th:text="${el.name}"></h2>
  <h3 th:text="${el.predmet}"></h3>
  <h4 th:text="${el.prepod}"></h4>
  <h5 th:text="${el.data}"></h5>
  <p th:text="${el.kolvo}"></p>

  <a th:href="'/pr/'+ ${el.id}">Прочетать статью</a>
  <a th:href="'/pr/edit/'+ ${el.id}">изменить</a>

</div>

<a href="/pr/add" class="btn btn-primary">Добавить новость</a>

</body>
</html>