<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>News</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<div th:each="el : ${films}">
  <form th:action="'/films/edit/'+ ${el.id}" method="post">
    <p>Заголовок</p>
    <input type="text" th:value="${el.name}" id="name" name="name" placeholder="Название фильма">
    <p></p>
    <input type="text" th:value="${el.dicription}"id="dicription" name="dicription" placeholder="Описание">
    <input type="text" th:value="${el.studio}"id="autor" name="studio" placeholder="Студия">
    <input type="number"th:value="${el.likes}" id="likes" name="likes" placeholder="Лайки">
    <input type="number"th:value="${el.dislikes}" id="dislikes" name="dislikes" placeholder="Дизлайки">

    <input type="submit" value="Изменить" class="btn btn-success">
  </form>

</div>



<a href="/news/" class="btn btn-primary">назад</a>

</body>
</html>