<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Films</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<form method="get" action="/films/search">

  <input type="text" name="name">
  <input type="submit" value="Найти">

</form>

<div th:each="el : ${films}">
  <h2 th:text="${el.name}"></h2>
  <h3 th:text="${el.dicription}"></h3>
  <h4 th:text="${el.studio}"></h4>
  <h5 th:text="${likes}"></h5>
  <p th:text="${el.dislikes}"></p>
</div>

<a href="/films/add" class="btn btn-primary">Добавить фильм</a>

</body>
</html>