<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Работодатели</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<form method="get" action="/pr/search">

    <input type="text" name="name">
    <input type="submit" value="Найти">

</form>

<div th:each="el : ${user}">
    <h2 th:text="${el.username}"></h2>
    <h3 th:text="${el.password	}"></h3>
    <h3 th:text="${el.person.name}"></h3>
    <h3 th:text="${el.person.first_name}"></h3>
    <h3 th:text="${el.person.middle_name}"></h3>
    <a th:href="'/admin/'+ ${el.id}">Подробнее</a>
    <a th:href="'/admin/edit/'+ ${el.id}">изменить</a>
</div>



<a href="/admin/add" class="btn btn-primary">Добавить студента</a>

</body>
</html>