<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:each="el : ${user}" ></div>
<form  th:action="'/admin/edit/'+ *{id}" th:object="${user}" method="post">
  <p>Логин:
    <input type="text" id="username" th:value="*{username}" name="username" placeholder="Логин" >
  <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
  </p>
  <p>Дата:
    <input type="text" id="password" name="password" th:value="*{password}" placeholder="Текст" >
  <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  </p>
  <div th:each="element :${person}">
    <p>Личные данные
    <p>Имя:
      <input type="text" id="person.name" th:value="*{person.name}" name="person.name" placeholder="Логин" >
    <div th:if="${#fields.hasErrors('person.name')}" th:errors="*{person.name}"></div>
    </p>
  <p>Фамилия:
    <input type="text" id="person.first_name" name="person.first_name" th:value="*{person.first_name}" placeholder="Текст" >
  <div th:if="${#fields.hasErrors('person.first_name')}" th:errors="*{person.first_name}"></div>
  </p>Отчество
    <input type="text" id="person.middle_name" name="person.middle_name" th:value="*{person.middle_name}" placeholder="Текст" >
    <div th:if="${#fields.hasErrors('person.middle_name')}" th:errors="*{person.middle_name}"></div>
</div>
    <input type="submit" value="Изменить">
</form>
<a href="/admin/">назад</a>
</body>
</html>