<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <title>Sample Application</title>
</head>
<body>
<form method="get" action="/calc">
    <input id="num_1" name="num_1" type="number"><br>
    <input id="num_2" name="num_2" type="number"><br>
    <input list="objectiv" name="objectiv" type="n" />
    <datalist id="objectiv">
        <option value="/"></option>
        <option value="*"></option>
        <option value="+"></option>
        <option value="-"></option>
    </datalist>
    <input type="submit" value="Отправить">
    <p th:text="'Результат:, ' + ${result} + '!'" />
</form>

<a href="/">Главная</a>
</body>
</html>